{% load static %}
<section class="invoice_section_home">
<h2>Як створити<br>рахунок-фактуру?</h2>
<div class="create_invoice_box">
  <p>Перейдіть до генератора рахунків-фактур онлайн.</p>
  <a href="" class="green_button_link"><span>Згенерувати інвойс</span><img src="{% static 'img/green_button_title_img.svg'%}"
    alt=""></a>
</div>
<div class="create_invoice_box">
  <img class="create_invoice_box_img" src="{% static 'img/home_invoice_section.svg' %}" alt="">
  <p>Заповніть всі необхідні поля: ім’я та адресу клієнта, номер накладної і дату виставлення рахунку.</p>
</div>
<div class="create_invoice_box">
  <p>Натисніть «Згенерувати» та збережіть накладну у форматі PDF.</p>
  <a href="" class="green_button_link"><span>Згенерувати</span><img src="{% static 'img/green_button_title_img.svg'%}"
    alt=""></a>
</div>
</section>