{% load static %}
<section class="our_blog_section">
  <h3>Our blog</h3>
  <div class="blog_box">
    <img src="{% static 'img/our_blog/our_blog_img_1.svg' %}" alt="">
    <h6>Lorem ipsum dolor sit amet</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo.</p>
  </div>
  <div class="blog_box">
    <img src="{% static 'img/our_blog/our_blog_img_2.svg' %}" alt="">
    <h6>Lorem ipsum dolor sit amet</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo.</p>
  </div>
  <div class="blog_box">
    <img src="{% static 'img/our_blog/our_blog_img_1.svg' %}" alt="">
    <h6>Lorem ipsum dolor sit amet</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo.</p>
  </div>
 
</section>