{% load static %}

<section class="second_section">
  <img src="{% static 'img/second_section_home_page.png' %}" alt="">
  <div class="our_advantages">
    <p class="our_advantages_number">01</p>
    <h6 class="our_advantages_title">Економія часу</h6>
    <p class="our_advantages_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam feugiat cursus nulla at malesuada.Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="our_advantages">
    <p class="our_advantages_number">02</p>
    <h6 class="our_advantages_title">Приємний інтерфейс</h6>
    <p class="our_advantages_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam feugiat cursus nulla at malesuada.Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="our_advantages">
    <p class="our_advantages_number">03</p>
    <h6 class="our_advantages_title">Швидкий результат</h6>
    <p class="our_advantages_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam feugiat cursus nulla at malesuada.Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</section>