{% load static %}
<section class="home_seo_section">
  <h3>SEO текст</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
    metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam feugiat cursus nulla at malesuada. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
    volutpat, nisi eget dapibus vulputate, ligula metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam
    feugiat cursus nulla at malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula metus aliquam dui, sit amet
    consectetur erat sapien ac leo. Nullam feugiat cursus nulla at malesuada. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus
    vulputate, ligula metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam feugiat cursus nulla at
    malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
</section>