{% load static %}
{% load custom_tags %}
<section class="title_section">
  <h1>Lav en faktura nemt og hurtigt</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
    metus aliquam dui, sit amet consectetur erat sapien ac leo. Nullam feugiat cursus nulla at malesuada.Lorem ipsum
    dolor sit amet, consectetur adipiscing elit.</p>
  <div class="title_section_links_container">
    <span></span>
    <a href="" class="green_button_link"><span>Згенерувати інвойс</span><img src="{% static 'img/green_button_title_img.svg'%}"
        alt=""></a>
  </div>
</section>