{% load static %}
{% load sass_tags %}
<!-- {% sass_src 'sass/styles.scss' %}
{% sass_src 'sass/header.scss' %} -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.svg' %}" />

  <link rel="stylesheet" href="{% static 'sass/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'sass/header.css' %}" />
  <title>Factuur.com</title>
</head>
<body>
  <header>header</header>
  {% block content %}
  {% endblock %}
  <footer>footer</footer>

</body>

</html>