{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.svg' %}" />
  <link rel="stylesheet" href="{% sass_src 'sass/title_section.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/header.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/styles.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/footer.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/home_second_section.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/home_third_section.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/home_invoice_section.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/home_our_blog_section.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/home_seo_section.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/menu.scss' %}">
  <link rel="stylesheet" href="{% sass_src 'sass/invoices_list_title.scss' %}">


  <title>Factuur.com</title>
</head>

<body>
  <header>
    <div class="header_container">
      <img id="menu_toggle" src="{% static 'img/menu.png'%}" alt="">
      <div><span>123</span>FACTUUR.COM</div>
      
    </div>
    <div id="menu_mob" style="display:none">
      <ul>
        <li><a href="{% url 'invoices_list' %}">Invoices list</a></li>
        <li><a href="#">Generate invoice</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <footer>
    <h1><span>123</span>FACTUUR.COM</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, nisi eget dapibus vulputate, ligula
      metus aliquam dui, sit amet consectetur erat sapien ac leo.</p>
    <p>Політика конфіденційності</p>
  </footer>
<script src="{% static 'js/script.js'%}"></script>
</body>

</html>